*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
    color: #f0f0f0;
}
.title-top{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
}
.main-container{
    font-size: 20px;
    width: 60%;
    height: 70vh;
    margin: 5rem auto;
    border-radius: 10px;
}
.title-inner{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.score-box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.score-box-inner{
    font-size: 18px;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Secret-Number{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Secret-Number-inner{
    width: 100%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
}
.num{
    margin-top: 20px;
}
.guess-box{
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.guess-box-inner{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 20px auto;
}
.input{
    margin: 0 auto;
    width: 20%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.btn{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.guess{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;  
    padding-right: 5px;
}
.hidden-lower-message{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden-higher-message{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden1{
    display: none;
}
.hidden2{
    display: none;
}
.overlay-lose{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.overlay-lose-inner{
    width: 15%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
}
.title-inner-over{
    font-size: 16px;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-overlay-lose{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn-play-again{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.hidden-lose{
    display: none;    
}
.overlay-win{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.overlay-win-inner{
    width: 15%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
}
.final-score-box{
    font-size: 18px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden-win{
    display: none;
}

.overlay-begin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.btn-begin{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.hidden-begin{
    display: none;
}
@media screen and (max-width: 1200px) {
    .title-top {
        font-size: 22px;
    }
    .title-inner{
        font-size: 18px;

    }
    .score-box-inner{
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
    }
    .score{
        margin-left: 10px;
    }
    .Secret-Number-inner{
        font-size: 18px;
    }
    .guess-box-inner{
        font-size: 18px;
    }
    .input{
        width: 60%;
        height: 60%;
    }
    .guess{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;  
        padding-right: 5px;
    }
    .btn{
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .overlay-lose-inner{
    width: 30%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
    .overlay-win-inner{
    width: 30%;
    height: 35%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
}
@media screen and (max-width: 800px) {
    .title-top {
        font-size: 16px;
    }
    .title-inner{
        font-size: 16px;

    }
    .score-box-inner{
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        font-size: 14px;
    }
    .score{
        margin-left: 10px;
    }
    .Secret-Number-inner{
        font-size: 16px;
    }
    .guess-box-inner{
        font-size: 16px;
    }
    .input{
        width: 40%;
        height: 40%;
    }
    .guess{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;  
        padding-right: 4px;
    }
    .btn{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .overlay-lose-inner{
    width: 50%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
    .overlay-win-inner{
    width: 50%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
}
@media screen and (max-width: 500px) {
    .title-top{
        margin-top: 50px;
        font-size: 14px;
        text-align: center;
    }
    .title-inner{
        font-size: 14px;
        text-align: center;
    }
    .score-box-inner{
        justify-content: center;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }
    .score{
        margin-left: 10px;
    }
    .Secret-Number-inner{
        font-size: 16px;
    }
    .guess-box-inner{
        font-size: 14px;
    }
    .input{
        width: 40%;
        height: 40%;
    }
    .guess{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 2px;  
        padding-right: 2px;
    }
    .btn{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .overlay-lose-inner{
    width: 50%;
    height: 25%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
    .overlay-win-inner{
    width: 55%;
    height: 35%;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    }
}